body {
  background: #363636;
  color: #eee;

  width: 800px;
}

.featured img {
  width: 100%;
}

#blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 20px;
}

.card {
  width: 300px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
}

.read-more {
  display: block;
  padding: 8px 20px;
  background-color: #eee;
  text-align: center;
  text-decoration: none;
}