.form-wrapper {
  max-width: 900%;
  margin: 0 auto;
  padding: 20px 16px 40px 16px;
  transform: translateZ(0);
  text-align: center;
}

.submit-wrapper {
  margin-top: 20px;
}

.fieldset {
  position: relative;
  padding: 0;
  border: 0;
}

.fieldset input,
.fieldset textarea {
  border: 0;
  background: none;
  padding: 10px 10px;
  font-size: inherit;
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
  width: 100%;
}

.bg-input,
.fieldset input.filled,
.fieldset textarea.filled {
  transition: 0.3s;
  background-color: #4f46fd0a!important;
}

.fieldset textarea {
  resize: none;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  height: 56px;
}

.fieldset textarea:focus,
.fieldset textarea.filled {
  overflow: auto;
  height: 180px;
}

.fieldset input + label,
.fieldset textarea + label {
  position: relative;
  display: block;
  padding: 8px 0 8px 0;
  text-align: left;
}

.fieldset input + label::before, .fieldset input + label::after,
.fieldset textarea + label::before, .fieldset textarea + label::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
}

.fieldset input + label::before,
.fieldset textarea + label::before {
  background-color: #00000038;
}

.fieldset input + label::after,
.fieldset textarea + label::after {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background-color:  #4f46fd;
  height: 1px;
}

.fieldset input + label span,
.fieldset textarea + label span {
  position: relative;
  color: #00000060;
  transition: color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.fieldset input + label span::after,
.fieldset textarea + label span::after {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  left: 0;
  transform: scaleX(1);
  white-space: nowrap;
  color: #fff;
  background-image: linear-gradient(to right, #4A90E2 50%, #ffffff00 0%);
  background-position: 100% 50%;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: background-position 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.fieldset input:focus + label::after,
.fieldset input.error + label::after,
.fieldset input:invalid + label::after,
.fieldset input.filled + label::after,
.fieldset textarea:focus + label::after,
.fieldset textarea.error + label::after,
.fieldset textarea:invalid + label::after,
.fieldset textarea.filled + label::after {
  transform: scaleX(1);
  transform-origin: left;
}
.fieldset input:focus + label span::after,
.fieldset input.error + label span::after,
.fieldset input:invalid + label span::after,
.fieldset input.filled + label span::after,
.fieldset textarea:focus + label span::after,
.fieldset textarea.error + label span::after,
.fieldset textarea:invalid + label span::after,
.fieldset textarea.filled + label span::after {
  background-image: linear-gradient(to right, #ffffff 50%, #ffffff00 0%);
  background-position: 0% 50%;
}

.fieldset input.filled,
.fieldset textarea.filled {
  color: #131313;
}

.fieldset input.filled + label::after,
.fieldset textarea.filled + label::after {
  background-color: #afafaf;
}

.fieldset input.filled + label span::after,
.fieldset textarea.filled + label span::after {
  background-image: linear-gradient(to right, #afafaf 50%, #ffffff00 0%);
  background-position: 0% 50%;
}

.fieldset input:focus,
.fieldset textarea:focus {
  color:  #4f46fd;
}

.fieldset input:focus + label::after,
.fieldset textarea:focus + label::after {
  background-color:  #4f46fd;
}

.fieldset input:focus + label span::after,
.fieldset textarea:focus + label span::after {
  background-image: linear-gradient(to right,  #4f46fd 50%, #ffffff00 0%);
  background-position: 0% 50%;
}

.fieldset input.error, .fieldset input:invalid,
.fieldset textarea.error, .fieldset textarea:invalid {
  color: #E66161!important;
}

.fieldset input.error + label::after,
.fieldset input:invalid + label::after,
.fieldset textarea.error + label::after,
.fieldset textarea:invalid + label::after {
  background-color: #E66161!important;
}

.fieldset input.error + label span::after,
.fieldset input:invalid + label span::after {
  background-image: linear-gradient(to right, #E66161 50%, #ffffff00 0%)!important;
  background-position: 0% 50%;
}

button[type=submit] {
  border: 0;
  background-color: #50617A;
  padding: 18px 36px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 34px;
  outline: 0;
  transition: background-color 300ms cubic-bezier(0.215, 0.61, 0.355, 1), color 300ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

button[type=submit]:focus, button[type=submit]:active,
button[type=submit]:hover {
  background-color: #4f46fd;
  color: white;
  cursor: pointer;
}

/* DARK MODE */
.dark-mode .fieldset input + label::before,
.dark-mode .fieldset textarea + label::before {
  background-color: #ffffff44;
}

.dark-mode .fieldset input + label span,
.dark-mode .fieldset textarea + label span {
  color: #ffffff9d;
}

.dark-mode .fieldset input.filled,
.dark-mode .fieldset textarea.filled {
  color: #ffffff;
}

.dark-mode .fieldset input.filled + label::after,
.dark-mode .fieldset textarea.filled + label::after {
  background-color: #ffffff;
} 

.dark-mode .fieldset input.filled + label span::after,
.dark-mode .fieldset textarea.filled + label span::after {
  background-image: linear-gradient(to right, #ffffff 50%, #ffffff00 0%);
}

.dark-mode .fieldset input:focus + label::after,
.dark-mode .fieldset textarea:focus + label::after {
  background-color:  #ffe605;
}

.dark-mode .fieldset input + label::after,
.dark-mode .fieldset textarea + label::after {
  background-color: #ffe605;
}

.dark-mode .fieldset input:focus + label span::after,
.dark-mode .fieldset textarea:focus + label span::after {
  background-image: linear-gradient(to right, #ffe605 50%, #ffffff00 0%);
}

.dark-mode .fieldset input + label span::after,
.dark-mode .fieldset textarea + label span::after {
  background-image: linear-gradient(to right, #ffe605 50%, #ffffff00 0%);
}

.dark-mode .fieldset input:focus,
.dark-mode .fieldset textarea:focus {
  color: #ffe605;
}

.dark-mode .bg-input,
.dark-mode .fieldset input.filled,
.dark-mode .fieldset textarea.filled  {
  background-color: #ffffff11!important;
}

@media only screen and (min-width: 650px) {
  .form-wrapper {
    width: 500px;
  }
}

@media only screen and (min-width: 940px) {
  .form-wrapper {
    width: 640px;
  }
}
