/* COLORS */

$base-green: #33bf7d;
$base-yellow: #f8e722;
$base-blue: #3772ff;
$base-red: #ff1654;
$base-purple: #773aff;

/* BREAKPOINTS */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;

// Large tablets and desktops
$screen-xl-min: 1280px;
